<html foxified="">
    <head>
      <meta charset="utf-8" />
      <title>KJ277矿用人员管理系统--安特信（北京）科技有限公司</title>
    </head>
	<frameset rows="105,*,20" cols="*" framespacing="0" frameborder="NO" border="0" id="frame1">
    <frame src="./components/Top.html" name="topFrame" scrolling="NO" noresize="">
		<frameset rows="*" cols="200,8,*" framespacing="0" frameborder="NO" border="0" id="frame2">
			<frame src="./components/LPanel.html" name="leftFrame" noresize="">
			<frame src="./components/Split.html" name="CallLeft" frameborder="0" noresize="" scrolling="no">
			<frame src="./page/monthCard.html" name="mainFrame" frameborder="0">
      </frameset>
  <frame src="./components/Bottom.html" name="bottomFrame" scrolling="NO" noresize="">
</html>