<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    无标题页
  </title>
  <style type="text/css">
    body,
    td,
    th {
      font-family: 宋体;
      font-size: 9pt;
    }

    body {
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      background-attachment: fixed;
      background-repeat: repeat-y;
      background-position: right top;
    }
  </style>
   <script>
    function onClick() {
      alert('暂无访问权限！')
    }
  </script>
</head>

<body style="margin-left:0; margin-top:0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td width="50" style="cursor: pointer;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="4" align="left"><img id="menu_11" src="../../img/layout/menu_left01.gif" width="4"
                    height="23"></td>
                <td id="menu_12" align="center" background="../../img/layout/menu_bg01.gif">
                  <font id="menu_12f" color="blue">菜单</font>
                </td>
                <td width="5" align="right"><img id="menu_13" src="../../img/layout/menu_right01.gif" width="5"
                    height="23"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td width="75" onclick="onClick()" style="cursor: pointer;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="4" align="left"><img id="menu_21" src="../../img/layout/menu_left02.gif" width="4"
                    height="23"></td>
                <td id="menu_22" align="center" background="../../img/layout/menu_bg02.gif">
                  <font id="menu_22f" color="black">下井人数</font>
                </td>
                <td width="5" align="right"><img id="menu_23" src="../../img/layout/menu_right02.gif" width="5"
                    height="23"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td width="75" onclick="onClick()" style="cursor: pointer;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="4" align="left"><img id="menu_31" src="../../img/layout/menu_left02.gif" width="4"
                    height="23"></td>
                <td id="menu_32" align="center" background="../../img/layout/menu_bg02.gif">
                  <font id="menu_32f" color="black">报警求援</font>
                </td>
                <td width="5" align="right"><img id="menu_33" src="../../img/layout/menu_right02.gif" width="5"
                    height="23"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>