<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../css/css-content.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/calendar-win2k-cold-1.css" title="win2k-cold-1">
    <script type="text/javascript" src="./data/calendar.js.下载"></script>
    <script type="text/javascript" src="./data/calendar-zh.js.下载"></script>
    <script type="text/javascript" src="./data/calendar-setup.js.下载"></script>
</head>
<body>
<div id="Panel1">
    日期：<input name="rptDate" type="text" value="2024-07-15" id="rptDate" style="width:70px;"><span
        id="RegularExpressionValidator2" style="color:Red;display:none;">日期错误</span>
    <img src="../../img/layout/cal.gif" id="f_trigger_c" title="选择日期">&nbsp;部门：<select name="dpBMList"
                                                                                             id="dpBMList">
    <option value="0">--全矿--</option>
    <option value="24">机电战线</option>
    <option value="25">机电一队</option>
    <option value="26">机电二队</option>
    <option value="27">机电三队</option>
    <option value="28">机电修配厂</option>
    <option value="29">轨道运输队</option>
    <option value="30">开掘战线</option>
    <option value="31">掘进一队</option>
    <option value="33">掘进三队</option>
    <option value="36">通安战线</option>
    <option value="37">经营战线</option>
    <option value="40">通风队</option>
    <option value="41">采煤战线</option>
    <option selected="selected" value="43">综采准备队</option>
    <option value="44">综采二队</option>
    <option value="48">通风区</option>
    <option value="49">放炮队</option>
    <option value="50">开拓区</option>
    <option value="51">开拓队</option>
    <option value="54">机电运输区</option>
    <option value="55">煤质装运站</option>
    <option value="57">开拓工厂</option>
    <option value="58">维修队</option>
    <option value="60">采煤区</option>
    <option value="61">地质测量队</option>
    <option value="62">物管站</option>
    <option value="66">机电五队</option>
    <option value="67">带班领导</option>
    <option value="69">综机工厂</option>
    <option value="70">检查领导</option>
    <option value="73">综采三队</option>
    <option value="75">防突队</option>
    <option value="76">北山工区</option>
    <option value="78">支护科</option>
    <option value="80">调度室</option>
    <option value="81">企管科</option>
    <option value="83">防突区</option>
    <option value="97">安装回收队</option>
    <option value="103">天力公司打钻队</option>
    <option value="104">离职矿领导</option>
    <option value="105">重点办</option>
    <option value="106">建井三处</option>
    <option value="107">开拓一分队</option>
    <option value="108">安全管理中心</option>
    <option value="110">综合队</option>
    <option value="111">掘进二队</option>
    <option value="112">综采一队</option>
    <option value="113">综合一分队</option>
    <option value="114">综合二分队</option>
    <option value="115">借灯用卡</option>
    <option value="116">开拓二分队</option>
    <option value="117">建工集团</option>
    <option value="118">矿建公司安装处</option>
    <option value="119">机关</option>
    <option value="120">信息办</option>

</select>&nbsp;&nbsp;
    姓名：<input name="PeopleName" type="text" id="PeopleName" style="width:50px;">&nbsp;卡号：<input name="TagNo"
                                                                                                    type="text"
                                                                                                    id="TagNo"
                                                                                                    style="width:50px;">&nbsp;工号：<input
        name="GongHao" type="text" id="GongHao"
        style="width:50px;">
    &nbsp;<br>
    时间：<select name="ddlTime" id="ddlTime">
    <option selected="selected" value="所有时间">所有时间</option>
    <option value="&gt;">大于</option>
    <option value="&lt;">小于</option>
    <option value="&gt;=">大于等于</option>
    <option value="&lt;=">小于等于</option>
    <option value="&gt;=,&lt;=">&gt;=,&lt;=</option>

</select>(分钟)
    &nbsp;

    <input onclick=""
           name="Search" type="submit" id="Search" value=" 查 找 " class="button" onmouseover="onButton(this);"
           onmouseout="offButton(this);">&nbsp;
    <input
            onclick="alert('暂无权限')" name="Print"
            type="submit" id="Print" value=" 打 印 " class="button" onmouseover="onButton(this);"
            onmouseout="offButton(this);"><span id="rf1" style="color:Red;display:none;">请输入时间</span>
    &nbsp;<span id="rv1" style="color:Red;display:none;">请输入数字</span>
    <span id="rf2" style="color:Red;display:none;">请输入时间</span>
    <span id="rv2" style="color:Red;display:none;">请输入数字</span>
    &nbsp;

    <div>
        <table class="Grid" cellspacing="0" rules="all" border="1" id="dbGrid_People"
               style="border-style:Dotted;width:100%;border-collapse:collapse;">
            <tbody>
            <tr class="blackshade" align="center" valign="middle" style="white-space:nowrap;">
                <th scope="col" style="width:40px;">序号</th>
                <th scope="col"><a href="#">卡号</a>
                </th>
                <th scope="col"><a href="#">工号</a>
                </th>
                <th scope="col"><a href="#">姓名</a></th>
                <th scope="col"><a href="#">部门</a>
                </th>
                <th scope="col"><a href="#">入井时间</a>
                </th>
                <th scope="col"><a href="#">升井时间</a>
                </th>
                <th scope="col"><a href="#">班次</a>
                </th>
                <th scope="col"><a href="#">停留时间</a></th>
            </tr>
            <tr class="shade">
                <td>1</td>
                <td>
                    <span id="dbGrid_People_ctl02_fldViewTagNo">496</span>
                </td>
                <td>
                    <span id="dbGrid_People_ctl02_fldViewGongHao"></span>
                </td>
                <td>
                    <a href="http://192.168.127.200/ViewPeopleInfo.aspx?PersonID=496" target="_blank"><span
                            id="dbGrid_People_ctl02_fldViewName">宁华伟</span></a>
                </td>
                <td>
                    <span id="dbGrid_People_ctl02_fldViewDepName">综采准备队</span>
                </td>
                <td>
                    <a href="#" target="_blank">
                        <span id="dbGrid_People_ctl02_fldViewInTime">2024-7-15 0:18:18</span>
                    </a>
                </td>
                <td>
                    <span id="dbGrid_People_ctl02_fldViewOutTime">2024-7-15 7:24:33</span>
                </td>
                <td>
                    <span id="dbGrid_People_ctl02_fldViewBanCiName">零点班</span>
                </td>
                <td>
                    <span id="dbGrid_People_ctl02_fldViewOverTime">07:06</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">
    // Calendar.setup({
    //     inputField: "rptDate",     // id of the input field
    //     ifFormat: "%Y-%m-%d",      // format of the input field
    //     button: "f_trigger_c",  // trigger for the calendar (button ID)
    //     singleClick: true
    // });
</script>

<script type="text/javascript">
    //<![CDATA[
    var RegularExpressionValidator2 = document.all ? document.all["RegularExpressionValidator2"] : document.getElementById("RegularExpressionValidator2");
    RegularExpressionValidator2.controltovalidate = "rptDate";
    RegularExpressionValidator2.errormessage = "日期错误";
    RegularExpressionValidator2.display = "Dynamic";
    RegularExpressionValidator2.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
    RegularExpressionValidator2.validationexpression = "^((\\d{2}(([02468][048])|([13579][26]))[\\-\\/\\s]?((((0?[13578])|(1[02]))[\\-\\/\\s]?((0?[1-9])|([1-2][0-9])|(3[01])))|(((0?[469])|(11))[\\-\\/\\s]?((0?[1-9])|([1-2][0-9])|(30)))|(0?2[\\-\\/\\s]?((0?[1-9])|([1-2][0-9])))))|(\\d{2}(([02468][1235679])|([13579][01345789]))[\\-\\/\\s]?((((0?[13578])|(1[02]))[\\-\\/\\s]?((0?[1-9])|([1-2][0-9])|(3[01])))|(((0?[469])|(11))[\\-\\/\\s]?((0?[1-9])|([1-2][0-9])|(30)))|(0?2[\\-\\/\\s]?((0?[1-9])|(1[0-9])|(2[0-8]))))))(\\s(((0?[0-9])|(1[0-9])|(2[0-3]))\\:(([0-5][0-9])|([0-9]))(((\\s)|(\\:(([0-5][0-9])|([0-9]))))?)))?$";
    var rf1 = document.all ? document.all["rf1"] : document.getElementById("rf1");
    rf1.controltovalidate = "sTime";
    rf1.errormessage = "请输入时间";
    rf1.display = "Dynamic";
    rf1.enabled = "False";
    rf1.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
    rf1.initialvalue = "";
    var rv1 = document.all ? document.all["rv1"] : document.getElementById("rv1");
    rv1.controltovalidate = "sTime";
    rv1.errormessage = "请输入数字";
    rv1.display = "Dynamic";
    rv1.enabled = "False";
    rv1.type = "Integer";
    rv1.evaluationfunction = "RangeValidatorEvaluateIsValid";
    rv1.maximumvalue = "65536";
    rv1.minimumvalue = "1";
    var rf2 = document.all ? document.all["rf2"] : document.getElementById("rf2");
    rf2.controltovalidate = "eTime";
    rf2.errormessage = "请输入时间";
    rf2.display = "Dynamic";
    rf2.enabled = "False";
    rf2.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
    rf2.initialvalue = "";
    var rv2 = document.all ? document.all["rv2"] : document.getElementById("rv2");
    rv2.controltovalidate = "eTime";
    rv2.errormessage = "请输入数字";
    rv2.display = "Dynamic";
    rv2.enabled = "False";
    rv2.type = "Integer";
    rv2.evaluationfunction = "RangeValidatorEvaluateIsValid";
    rv2.maximumvalue = "65536";
    rv2.minimumvalue = "1";
</script>

</body>
</html>
