<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../css/css-content.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="./js/data.js"></script>
    <script>
        function offButton(e) {
            e.style.background = 'linear-gradient(to bottom , #8fb7e3, #537fa8, #8fb7e3)';
        }

        function onButton(e) {
            e.style.background = 'linear-gradient(to bottom , #fdfdad, #e0e01e, #fdfdad)';
        }

        function valid(obj) {
            if (!obj.year || !obj.month) {
                document.getElementById('rf1').style.display = 'block'
                return false
            } else {
                document.getElementById('rf1').style.display = 'none'
                return true
            }
        }

        function formatTime(str) {
            const arr = str.split(" ")
            return arr[0].split('/').map(Number)
        }

        function addNodes(obj) {
            const table = document.getElementById("dbGrid_People").getElementsByTagName('tbody')[0];
            let newRow = table.insertRow();
            // 创建三个新单元格
            let cellID = newRow.insertCell();
            let cellCardId = newRow.insertCell();
            let cellWorkId = newRow.insertCell();
            let cellName = newRow.insertCell();
            let cellDept = newRow.insertCell();
            let cellIntoTime = newRow.insertCell();
            let cellOutTime = newRow.insertCell();
            let cellShift = newRow.insertCell();
            let cellStayTime = newRow.insertCell();

            cellID.innerHTML = obj.id;
            cellCardId.innerHTML = obj.cardId;
            cellWorkId.innerHTML = obj.workId;
            cellName.innerHTML = obj.name;
            cellDept.innerHTML = obj.dept;
            cellIntoTime.innerHTML = obj.intoTime;
            cellOutTime.innerHTML = obj.outTime;
            cellShift.innerHTML = obj.shift;
            cellStayTime.innerHTML = obj.stayTime;
        }

        function clearTable() {
            const tbody = document.getElementById('dbGrid_People').getElementsByTagName('tbody')[0];
            // 直接清空 tbody 中的所有行
            tbody.innerHTML = '';
        }

        function getData() {
            clearTable()

            const dept = document.getElementById("dpBMList").value;
            const name = document.getElementById("PeopleName").value;
            const cardId = document.getElementById("TagNo").value;
            const workId = document.getElementById("GongHao").value;
            const year = document.getElementById("dpYear").value;
            const month = document.getElementById("dpMonth").value;

            const validObj = {year, month, dept, name, cardId, workId}

            if (valid(validObj)) {
                let count = 1;

                for (let i = 0; i < database.length; i++) {
                    const item = database[i]
                    if (validObj.dept !== '43') break;
                    if (validObj.year !== '2024') break;
                    if (validObj.workId) break;
                    if (validObj.name && item.name !== validObj.name) continue;
                    if (validObj.cardId && item.cardId !== parseInt(validObj.cardId)) continue;

                    const dbt = formatTime(item.intoTime)
                    const inpM = parseInt(validObj.month)
                    if (!(inpM === 7 || inpM === 8 || inpM === 9 || inpM === 10)) break;

                    if (dbt[1] !== parseInt(validObj.month)) continue;

                    item.id = count;
                    addNodes(item)
                    count++;
                }
            }

        }
    </script>
</head>
<body>
<div id="Panel1">

    年：<select name="dpYear" id="dpYear">
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option selected="selected" value="2024">2024</option>
</select>

    月：<select name="dpMonth" id="dpMonth">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option selected="selected" value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>

    部门：<select name="dpBMList" id="dpBMList">
    <option selected="selected" value="43">综采准备队</option>
</select>

    姓名：<input name="PeopleName" type="text" id="PeopleName" style="width:50px;">
    卡号：<input name="TagNo" type="text" id="TagNo" style="width:50px;">
    工号：<input name="GongHao" type="text" id="GongHao" style="width:50px;">


    <select name="ddlRYSX" id="ddlRYSX">
        <option selected="selected" value="-1">所有人员</option>
        <option value="0">一般人员</option>
        <option value="1">管理人员</option>
        <option value="2">矿领导</option>
    </select>

    <input name="Search" type="submit" id="Search" value=" 查 找 " onclick="getData()" class="button"
           onmouseover="onButton(this);" onmouseout="offButton(this);">
    <input name="Print" type="submit" id="Print" value=" 打 印 " onclick="alert('暂无权限')" class="button"
           onmouseover="onButton(this);" onmouseout="offButton(this);">
    <span id="rf1" style="color:Red;display:none;">年月不能为空</span>

    <div>
        <table class="Grid" cellspacing="0" rules="all" border="1" id="dbGrid_People"
               style="border-style:Dotted;width:100%;border-collapse:collapse;">
            <thead>
            <tr style="white-space:nowrap;">
                <th scope="col" style="width:40px;">序号</th>
                <th scope="col"><a href="#">卡号</a>
                </th>
                <th scope="col"><a href="#">工号</a>
                </th>
                <th scope="col"><a href="#">姓名</a></th>
                <th scope="col"><a href="#">部门</a>
                </th>
                <th scope="col"><a href="#">入井时间</a>
                </th>
                <th scope="col"><a href="#">升井时间</a>
                </th>
                <th scope="col"><a href="#">班次</a>
                </th>
                <th scope="col"><a href="#">停留时间</a></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
</body>
</html>
